@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 5% 8%;
    --primary: 180 26% 89%;
    --secondary: 0 0% 55.29%;
    --accent: 7 100% 62%;
  }
}

@layer base {
  * {
    @apply box-border m-0 p-0;
  }
  body {
    @apply bg-background text-primary;
  }
}
